
.idea/
*.iml
/out/

# GitHub Copilot plugin
.idea/copilot.*
.idea/codota.*  # если используешь другие плагины


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/


/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.bak
*.old
